﻿* {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

.second {
    text-decoration: underline;
    color: #f4c844;
    font-weight: 400;
    cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #061a44;
  background: #f4f4f4 url("../img/bg0.png");
  font-size: 12px;
}

a {
  color: #061a44;
  text-decoration: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tc {
  text-align: center;
}

.fw {
  font-weight: bold;
}

.tred {
  color: #fe2929;
}

.tyellow {
  background: #f4c844;
  padding: 1px 3px;
}

.link2 {
  color: #48587e;
  text-decoration: underline;
}

.line {
  height: 1px;
  overflow: hidden;
  width: 250px;
  background: #c2c2c2;
}

.section-title {
  font-size: 29px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 17px;
}

.section-title:after {
  content: ' ';
  position: absolute;
  height: 1px;
  background: #cbcbcb;
  width: 250px;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%);
}

.button {
  font-size: 14px;
  display: inline-block;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  background: #0063b0;
  outline: none;
  text-decoration: none;
  padding: 10px 40px;
  font-weight: normal;
  cursor: pointer;
  box-shadow: 0 2px 2px #2a3c52;
}

.underline {
  text-decoration: underline;
}

.fs-16 {
  font-size: 16px;
}

.button:hover {
  background: rgba(0, 99, 176, 0.81);
}

.button:active {
  background: rgba(38, 127, 176, 0.81);
}

.wrapper {
  background: #ffffff;
  max-width: 1280px;
  margin: 0 auto;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.21)
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  flex: 0 1 315px;
}

.header .logo img {
  margin: 5px 15px 5px 0;
}

.header .logo-text {
  margin-bottom: 10px;
}

.header .logo b {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1px;
  position: relative;
}

.header .logo b:after {
  content: '®';
  font-size: 12px;
  position: absolute;
  right: -12px;
  top: -10px;
}

.header .logo small {
  font-size: 9px;
  line-height: 10px;
  display: block;
}

.header .side {
  display: flex;
 flex: 0 0 250px;
  align-items: center;
  /* float: right; */
  /* margin: unset; */
}

.header .location {
  background: url("../img/ico1.png") no-repeat left center;
  line-height: 17px;
  padding: 0 0 0 17px;
  flex: 0 0 150px;
  white-space: nowrap;

}

.header .contact {
  flex: 0 0 175px
}

.header .contact a {
  font-size: 18px;
}

.header .contact .expert {
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 0 22px;
  margin: 4px 0 0 0;
}

.header .contact .online span {
  color: #29db20;
}

.header .contact .offline span {
  color: #e95a56;
}

.header .contact .expert.online {
  background: url("../img/ico2.png") no-repeat left center;
}

.header .contact .expert.offline {
  background: url("../img/offline.png") no-repeat left center;
}

.header .info {
  font-size: 11px;
  color: #838380;
}

#section_1 {
  background: #e9e9e9 url("../img/section-bg-1.jpg") no-repeat right center;

}

#section_1 .container {
  padding: 31px 30px;
}

#section_1 h1 {
  font-size: 35px;
  line-height: 54px;
  color: #ffffff;
  font-weight: normal;
  margin: 0 0 25px 0;
}

#section_1 h1 span {
  background-color: #ee3f58;
  padding: 0 8px;
}

#section_1 .description {
  font-size: 17px;
  margin: 0 0 37px 0;
}

#section_1 .bottom {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 11px;
  display: flex;
  justify-content: space-around;
  min-height: 51px;
}

#section_1 .bottom li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#section_1 .bottom li:nth-child(1) {
  background: url("../img/ico3.png") no-repeat left center;
  padding-left: 38px;
}

#section_1 .bottom li:nth-child(2) {
  background: url("../img/ico4.png") no-repeat left center;
  padding-left: 55px;
}

#section_1 .bottom li:nth-child(3) {
  background: url("../img/ico5.png") no-repeat left center;
  padding-left: 53px;
}

#section_2 .description {
  line-height: 1.20;
}

#section_2 .step {
  background: url("../img/reasons.png") no-repeat;
  width: 638px;
  margin: 0 auto;
  padding: 135px 0 0 0;
  display: flex;
  justify-content: space-between;
}

#section_2 .step li {
  flex-basis: 170px;
  padding-left: 10px;
}

#section_2 .bottom {
  background: #cae5cf;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

#section_2 .bottom .button {
  margin-right: 25px;
}

#section_2 .bottom p {
  text-align: left;
}

#section_3 {
  padding: 30px 30px 0 30px;
  display: flex;
}

#section_3 .faq {
  flex: 0 0 350px;
  margin-left: 10px;
}

#section_3 .faq h3 {
  font-size: 16px;
  font-weight: normal;
  position: relative;
  margin: 20px 0 14px 0;
}

#section_3 .faq h3:after {
  content: ' ';
  position: absolute;
  height: 1px;
  background: #cbcbcb;
  width: 250px;
  bottom: -6px;
  left: 0;
}

#section_3 .faq p {
  text-indent: 37px;
  line-height: 14px;
  margin: 3px 0;
}

#section_3 .faq p + h3 {
  margin-top: 44px;
}

#section_3 .scoba {
  display: flex;
  align-items: start;
  flex: 0 0 70px;
  padding-top: 90px;
}

#section_3 ul {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
}

#section_3 ul li {
  flex: 0 0 390px;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 6px 10px 0 85px;
}

#section_3 ul li strong {
  background: #ea4628;
  color: #ffffff;
  padding: 5px 19px 4px 4px;
}

#section_3 ul li p {
  margin: 10px 0 25px 0;
}

#section_3 ul li:nth-child(1) {
  background-image: url("../img/ab2-icon1.png");
}

#section_3 ul li:nth-child(2) {
  background-image: url("../img/ab2-icon6.png");
}

#section_3 ul li:nth-child(3) {
  background-image: url("../img/ab2-icon3.png");
}

#section_3 ul li:nth-child(4) {
  background-image: url("../img/ab2-icon5.png");
}

#section_3 ul li:nth-child(5) {
  background-image: url("../img/ab2-icon7.png");
}

#section_3 ul li:nth-child(6) {
  background-image: url("../img/ab2-icon2.png");
}

#section_3 ul li:nth-child(7) {
  background-image: url("../img/ab2-icon4.png");
}

#section_3 ul li:nth-child(8) {
  background-image: url("../img/ab2-icon8.png");
}

#section_4 {
  background: #f3f3f3;
}

#section_4 .cont {
  display: flex;
  justify-content: space-between;
  padding: 33px 110px 27px 140px;
}

#section_4 .left {
  flex: 0 0 600px;
}

#section_4 .left p {
  text-indent: 40px;
  margin: 0 0 4px 0;
}

#section_4 .pdf {
  display: inline-block;
  background: url("../img/ico-pdf.png") no-repeat left center;
  color: #48587e;
  padding: 12px 0 12px 55px;
  text-decoration: underline;
  line-height: 21px;
  margin: 34px 38px 0 0;
}

#section_4 .right a {
  text-align: center;
  display: inline-block;
  color: #48587e;
  font-weight: bold;
}

#section_4 .right a:first-child {
  margin-right: 65px;
}

#section_4 .right a img {
  display: block;
  border: 1px solid #b4b4b4;
  margin-bottom: 6px;
}

#section_4 .right a span {
  border-bottom: 1px solid #bdc1cb;
}

#section_4 .bottom {
  background: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section_4 .bottom p {
  flex: 0 0 505px;
  padding: 0 25px;
}

#section_5 {
  display: flex;
  padding: 20px 30px;
}

#section_5 .col {
  padding: 17px 10px 10px 51px;
}

#section_5 .col h3 {
  font-size: 16px;
  margin: 0;
  position: relative;
}

#section_5 .col h3:before {
  content: " ";
  position: absolute;
  background: url("../img/warning-triangle.png") no-repeat;
  width: 25px;
  height: 23px;
  top: -8px;
  left: -40px;
}

#section_5 .col h3:after {
  content: ' ';
  position: absolute;
  height: 1px;
  background: #cbcbcb;
  width: 250px;
  bottom: -8px;
  left: 0;
}

#section_5 .col h3 span {
  background: #ea4628;
  color: #ffffff;
  padding: 3px;
}

#section_5 .col p {
  margin: 17px 0;
}

#section_5 a {
  text-decoration: underline;
  color: #48587e;
}

#section_5 .col:last-child {
  background: #ececec;
}

#section_5 .doc {
  display: inline-block;
  background: url("../img/ico-doc.png") no-repeat left center;
  color: #48587e;
  padding: 12px 0 12px 55px;
  text-decoration: underline;
  line-height: 21px;
}

#section_10 .bottom {
    background: #cae5cf;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

#section_6 {
  background: #f3f3f3;
}

#section_6 h2 span {
  background: #f4c844;
  padding: 0 10px;
}

#section_6 .container {
  display: flex;
  justify-content: center;
  padding: 27px 0;
}

#section_6 .container .col-1 {
  flex: 0 0 280px;
  text-align: center;
}

#section_6 .container .col-2 {
  flex: 0 0 530px;
}

#section_6 h3 {
  margin: 0 0 15px 0;
}

#section_6 h3 span {
  background: #f4c844;
  padding: 6px 10px;
}

#section_6 .button {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}

#section_6 .bot strong {
  display: inline-block;
  vertical-align: middle;
}

#section_7 {
  padding: 20px 0;
}

#section_7 ul {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  color: #253355;
}

#section_7 ul li {
  flex: 0 0 250px;
  line-height: 20px;
  padding-right: 40px;
  position: relative;
}

#section_7 ul li:last-child {
  padding: 0;
  flex: 0 0 210px;
}

#section_7 ul li:after {
  position: absolute;
  background: url("../img/arrow.png") no-repeat;
  width: 147px;
  height: 78px;
  top: -22px;
  right: -2px;
  content: ' ';
}

#section_7 ul li:last-child:after {
  display: none;
}

#section_7 ul strong {
  display: block;
}

#section_8 {
  background: #f3f3f3;
}

#section_8 h3 {
  font-size: 16px;
  font-weight: normal;
  position: relative;
  margin: 0 0 3px 0;
}

#section_8 h3:after {
  content: ' ';
  position: absolute;
  height: 1px;
  background: #cbcbcb;
  width: 250px;
  bottom: -7px;
  left: 0;
}

#section_8 .container {
  display: flex;
  justify-content: center;
  padding: 17px 0 0 0;
}

#section_8 .container .col-1 {
  flex: 0 0 480px;
}

#section_8 .container .col-2 {
  flex: 0 0 480px;
}

#section_8 .col-1 h3:before {
  content: ' ';
  background: url("../img/footer-icon-2.png") no-repeat;
  width: 25px;
  height: 28px;
  position: absolute;
  top: -5px;
  left: -35px;
}

#section_8 .col-1 .button {
  margin: 15px 0 0 0;
}

#section_8 .row {
  display: flex;
}

#section_8 .lic {
  margin: 15px 80px 15px 0;
}

#section_8 .col-2 h3 {
  margin-left: 80px;
}

#section_8 .col-2 h3:before {
  content: ' ';
  background: url("../img/rupor.png") no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  top: -3px;
  left: -35px;
}

#section_8 .col-2 .row {
  padding: 15px 10px 10px 50px;
}

#section_8 .col-2 .img {
  flex: 0 0 110px;
}

#section_8 .col-2 .img img {
  margin-top: 30px;
}

#section_8 .reviews {
  margin: 10px;
  width: 225px;
}

#section_8 .reviews .review {
  font-size: 13px;
}

#section_9 {
  background: #f3f3f3;
}

#map {
  background: #4d67ac;
  min-height: 300px;
}

#section_10 {
  background: #fdfdfd;
  padding: 0 0 15px 0;
}

#order {
  background: #ffffff;
  max-width: 645px;
  border: 1px solid #b2b2b3;
  border-radius: 5px;
  margin: 10px auto;
}

#order .order-title {
  background: #3e4757;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding: 17px 0;
  font-weight: normal;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#order .order-body {
  padding: 0 110px;
}

#order .row {
  display: flex;
  justify-content: space-between;
}

#order .row .col {
  flex: 1 1;
}

#order .row-1 {
  padding-bottom: 25px;
}

#order .row-1 .col {
  flex: 0 1 200px;
}

#order .row-2 {
  padding: 10px 0 10px 0;
}

#order .row-2 .col {
  flex: 0 1 205px;
}

#order input[type=text] {
  width: 100%;
  border: none;
  background: #eef2f7;
  border-radius: 5px;
  padding: 15px;
}

#order h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 22px 0;
  color: #727a84;
}

#order input[type="radio"],
#order input[type="checkbox"]
{
  position: absolute;
  visibility: hidden;
  left: -900px;
}

#order .label-1 {
  border: 1px solid #dee0e1;
  display: block;
  color: #80a3d3;
  border-radius: 5px;
  padding: 13px 50px;
  position: relative;
  line-height: 20px;
}

#order .label-1:after {
  content: ' ';
  position: absolute;
  background: #eef2f7;
  border-radius: 10px;
  border: 7px solid #eef2f7;
  width: 6px;
  height: 6px;
  top: 12px;
  right: 12px;
}

#order input:checked + .label-1 {
  border: 1px solid #ffde32;
  color: #000000;
}

#order input:checked + .label-1:after {
  border: 7px solid #ffde32;
  background: #000000;
}

#order .row-3 {
  margin-bottom: 20px;
}

#order .row-3 .col {
  flex: 0 1 135px;
}

#order .label-2 {
  border: 1px solid #dee0e1;
  display: block;
  color: #80a3d3;
  border-radius: 5px;
  padding: 12px 13px 10px 40px;
  position: relative;
  line-height: 20px;
}

#order .label-2:after {
  content: ' ';
  position: absolute;
  background: #e5e8ed;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  color: #000000;
  top: 12px;
  left: 12px;
}

#order input:checked + .label-2:after {
  background: #ffdd2d;
  content: '\2713';
}

#order .order-footer {
  padding: 16px 110px;
  border-top:1px solid #e3e4e5;
}

#order .order-footer .col{
  display: flex;
  align-items: center;
}

#order .order-footer .col:first-child{
  flex: 0 1 300px;
}

#order .label-3{
  font-size: 10px;
  margin: 0 0 0 40px;
  position: relative;
}

#order .label-3:after {
  content: ' ';
  position: absolute;
  background: #e5e8ed;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  color: #000000;
  top: -4px;
  left: -27px;
}

#order input:checked + .label-3:after {
  background: #ffdd2d;
  content: '\2713';
}

.button-yellow{
  background: #ffcd33;
  border: none;
  border-radius: 5px;
  color: #000000;
  padding: 15px 40px;
  cursor: pointer;
}

.footer {
  background: #061a44;
  padding: 8px 0;
  color: #ffffff;
  text-align: center;
}

.footer a {
  color: #ffffff;
}

#popup_toggle{bottom:30px;right:30px;position:fixed;}
.img-circle{background-color:#29AEE3;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #29AEE3;width:150px;height:150px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#29AEE3;width:100px;height:100px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;background-image:url(img/mini4.png);background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }   
  100% {transform: scale(0.9);opacity: 1;}}
 @-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}   
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}